name: Build and Test

on:
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
    - name: Set up Gradle
      uses: gradle/setup-gradle@v1
      with:
        distribution: '7.3.3'
    - name: Build with Gradle
      run: ./gradlew build
    - name: Run tests with Gradle
      run: ./gradlew test